# ExchangeRate-API
EXCHANGERATE_API_KEY=0d1b10f0c376bd07427f1b98

# Gemini AI
GEMINI_API_KEY=

# Security
SECRET_KEY=

# App Version
VITE_APP_VERSION=1.2.0

# Email Delivery Configuration (support@yourfinances.me)
SMTP_HOST=
SMTP_PORT=2525
SMTP_USER=
SMTP_PASS=
RESEND_API_KEY=
SENDGRID_API_KEY=

